.App {
  position: relative;
  z-index: 1;
}
/* styles.css */
.why-choose-us ul {
  list-style-type: none;
  padding: 0;
}

.why-choose-us li {
  font-size: 1.1rem;
  margin: 10px 0;
}

.why-choose-us strong {
  color: #007bff;
}

@media (max-width: 768px) {
  .why-choose-us ul {
    padding-left: 20px;
  }

  .why-choose-us li {
    font-size: 1rem;
  }

  .why-choose-us strong {
    font-size: 1.1rem;
  }
}
